In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/adult.data.csv')

In [3]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [5]:
data[data['sex']=='Female'].mean()

age                   36.858230
fnlwgt            185746.311206
education-num         10.035744
capital-gain         568.410547
capital-loss          61.187633
hours-per-week        36.410361
dtype: float64

In [19]:
(data[data['native-country']=='Germany'].count()/data.count())*100

age               0.420749
workclass         0.420749
fnlwgt            0.420749
education         0.420749
education-num     0.420749
marital-status    0.420749
occupation        0.420749
relationship      0.420749
race              0.420749
sex               0.420749
capital-gain      0.420749
capital-loss      0.420749
hours-per-week    0.420749
native-country    0.420749
salary            0.420749
dtype: float64

In [42]:
data[data['salary']=='>50K']['age'].std(), data[data['salary']=='<=50K']['age'].std()

(10.51902771985177, 14.020088490824813)

In [41]:
data[data['salary']=='>50K']['age'].mean(), data[data['salary']=='<=50K']['age'].mean()

(44.24984058155847, 36.78373786407767)

In [48]:
data[data['salary']=='>50K']['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

In [49]:
data.groupby(['age'])['race', 'sex'].describe()

     race                      sex
    count unique    top freq count unique     top freq
age
17    395      5  White  349   395      2    Male  209
18    550      5  White  483   550      2    Male  282
19    712      5  White  630   712      2    Male  356
20    753      5  White  653   753      2    Male  390
21    720      5  White  627   720      2    Male  391
22    765      5  White  648   765      2    Male  423
23    877      5  White  729   877      2    Male  518
24    798      5  White  662   798      2    Male  493
25    841      5  White  707   841      2    Male  528
26    785      5  White  648   785      2    Male  495
27    835      5  White  693   835      2    Male  541
28    867      5  White  715   867      2    Male  557
29    813      5  White  670   813      2    Male  542
30    861      5  White  721   861      2    Male  588
31    888      5  White  747   888      2    Male  606
32    828      5  White  703   828      2    Male  573
33    875      5  White  720   875      2    Male  620
34    886      5  White  752   886      2    Male  629
35    876      5  White  733   876      2    Male  630
36    898      5  White  763   898      2    Male  611
37    858      5  White  738   858      2    Male  629
38    827      5  White  709   827      2    Male  591
39    816      5  White  690   816      2    Male  560
40    794      5  White  685   794      2    Male  531
41    808      5  White  684   808      2    Male  575
42    780      5  White  661   780      2    Male  552
43    770      5  White  650   770      2    Male  541
44    724      5  White  607   724      2    Male  522
45    734      5  White  614   734      2    Male  512
46    737      5  White  632   737      2    Male  509
..    ...    ...    ...  ...   ...    ...     ...  ...
60    312      5  White  273   312      2    Male  233
61    300      4  White  260   300      2    Male  221
62    258      4  White  228   258      2    Male  170
63    230      5  White  204   230      2    Male  166
64    208      3  White  196   208      2    Male  138
65    178      5  White  163   178      2    Male  121
66    150      4  White  126   150      2    Male  102
67    151      4  White  135   151      2    Male   99
68    120      3  White  110   120      2    Male   78
69    108      3  White  101   108      2    Male   75
70     89      3  White   83    89      2    Male   61
71     72      4  White   66    72      2    Male   46
72     67      3  White   60    67      2    Male   42
73     64      2  White   60    64      2    Male   42
74     51      4  White   43    51      2    Male   32
75     45      3  White   37    45      2    Male   31
76     46      2  White   44    46      2    Male   30
77     29      3  White   26    29      2    Male   20
78     23      3  White   20    23      2    Male   16
79     22      2  White   21    22      2    Male   17
80     22      2  White   21    22      2    Male   17
81     20      2  White   19    20      2    Male   11
82     12      2  White   11    12      2    Male   10
83      6      1  White    6     6      2    Male    5
84     10      2  White    9    10      2    Male    6
85      3      1  White    3     3      2    Male    2
86      1      1  White    1     1      1  Female    1
87      1      1  White    1     1      1    Male    1
88      3      1  White    3     3      2    Male    2
90     43      3  White   34    43      2    Male   29

[73 rows x 8 columns]

In [56]:
data[data['race']=='Amer-Indian-Eskimo']['age'].max()

82

In [59]:
data[data.salary=='>50K']['marital-status'].value_counts()

Married-civ-spouse       6692
Never-married             491
Divorced                  463
Widowed                    85
Separated                  66
Married-spouse-absent      34
Married-AF-spouse          10
Name: marital-status, dtype: int64

In [61]:
data['hours-per-week'].max()

99

In [79]:
a=data[data['hours-per-week']==99]['age'].count()
print(a)

85

In [82]:
b=data[(data['hours-per-week']==99) & (data['salary']=='>50K')]['age'].count()
print(b)

25

In [84]:
(b/a)*100

29.411764705882355

In [85]:
data[(data['native-country']=='Japan') & (data['salary']=='>50K')]['hours-per-week'].mean()

47.958333333333336

In [86]:
data[(data['native-country']=='Japan') & (data['salary']=='<=50K')]['hours-per-week'].mean()

41.0